.page-header   {
    font-family: 'Lobster';
    color: white;
    margin-left: 100px;
    background-color: #FF6BA6;
    font-size: 500;
}

h1 a    {
    font-size: 250%;
    color: white;
}

h2 a    {
    font-size: 100%;
    color: black;
}

body {
    padding-left: 15px;
    font-family: 'Lobster';
}

.post   {
    font-family: 'Raleway', sans-serif;
}